manifest {
  description = 'WES & WGS pipeline'
  mainScript = 'dsl2.nf'
  nextflowVersion = '>=20.01.0'
  version = '1.4.0'
}

params {
  outDir = "./"     // Path to output directory, default PWD
  genome = 'GRCh37'     // Default reference genome is GRCh38
  // path to reference files subdirectory
  verbose = false        // Enable for more verbose information, default false
  markdup_java_options = '"-Xms4000m -Xmx7g"' // Established values for markDuplicate memory consumption
  // see https://github.com/SciLifeLab/Sarek/blob/master/conf/base.config
  publishDirMode = 'link' // publishDir mode is hard 'link' by default
  assayType = "exome" // either 'exome' or 'genome'; default exome
  somatic = false
  germline = false
  publishAll = true
  mapping = false
  pairing = false
  bamMapping = false
  splitLanes = false
  QC = false
  aggregate = false
  fileTracking = 'fileTracking.tsv'
  watch = false
  touchInputsInterval = 30 // unit of minutes
  chunkSizeLimit = 0 // set > 0 to tune number of lines read from mapping, bamMapping or aggregate
  anonymizeFQ = false
  cosmic = 'v3'
  svcnv = 'hisens'
}

// Run profiles are specified with "-profile" at the command line
profiles {

    docker {
        includeConfig "conf/docker.config"
        includeConfig "conf/containers.config"
        includeConfig "conf/resources.config"
        includeConfig "conf/references.config"
    }

    singularity {
        includeConfig "conf/singularity.config"
        includeConfig "conf/containers.config"
        includeConfig "conf/resources.config"
        includeConfig "conf/references.config"
    }

    juno {
        includeConfig "conf/singularity.config"
        includeConfig "conf/juno.config"
        includeConfig "conf/containers.config"
        includeConfig "conf/references.config"
        includeConfig "conf/resources.config"
    }
}

trace {
    enabled = false
    file = 'trace.txt'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

timeline {
    enabled = true
    file = 'timeline.html'
}

report {
    enabled = true
    file = 'report.html'
}

dag {
    enabled = false
    file = 'dag.pdf'
}

env {
  PYTHONNOUSERSITE = 1
}
