/* Container config 
* -------------------------------------------------
* This file defines the docker image used for each process
* -------------------------------------------------
*/

 //------------- Annotation

 process {
  withName:genomenavigator {
    container = "genomenexus/gn-annotation-pipeline:master"
  }
  withName:VCF2MAFpy {
    container = "edit01/annotation-tools:latest"
  }
}