/*
 * -------------------------------------------------
 * Juno resource config
 * -------------------------------------------------
 * Process resources for Juno
 * -------------------------------------------------
 */

//------------- Read alignment

 process {
  withName:genomenavigator {
    cpus = { 1 }
    memory = { 1.GB }
    executor = 'local'
  }
  withName:VCF2MAFpy {
    cpus = { 2 }
    memory = { 4.GB }
  }

}